<nav class='navbar navbar-default'>
    <div class='container-fluid'>
      <a class='navbar-brand'></a>
      <ul class='nav navbar-nav'>
          <li routerLinkActive="active">
          <a [routerLink]="['/user-list']">
              <i class="glyphicon glyphicon-list"></i>
              Users
          </a>
          </li>
          <li *ngIf="!auth.isAuthenticated()">
            <a [routerLink]="['/login']">Login</a>
          </li>
          <li *ngIf="auth.isAuthenticated()">
            <a (click)="logout()" [routerLink]="['/home']">Logout</a>
          </li>
      </ul>
    </div>
</nav>